$website-background: rgb(249, 249, 249);
$header-background: linear-gradient(180deg, rgba(161, 62, 254, 1) 0%, rgba(128, 67, 250, 1) 50%, rgba(107, 71, 248, 1) 100%);
$font: "Lato", sans-serif;

$grey: rgb(114, 114, 114);
$nav-hover-color: rgb(69, 110, 254);
$warning-color: rgb(207, 57, 57);

$phones: 400px;
$large-phones: 600px;
$tablets: 800px;
$small-laptops: 1000px;
$laptops: 1400px;
